<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Co-Ordinator Dashboard</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <style>
        body
        {
            background-color: #212121;
            color: white;
        }

        b
        {
            color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <button class="btn btn-outline-primary">
                <b>Welcome : {{ current_user.email }}</b>
            </button>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            
        </div>
        <ul class="navbar-nav"> 
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="{{ url_for('coordinator_dashboard_page') }}">
                        <button type="button" class="btn btn-outline-danger">
                            <b>Dashboard</b>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#">
                        <button type="button" class="btn btn-outline-danger">
                            <b>Update Profile</b>
                        </button>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ url_for('logout_page') }}">
                        <button type="button" class="btn btn-outline-danger">
                            <b>Logout</b>
                        </button>
                    </a>
                </li>
            </ul>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category,message in messages %}
                <div class="alert alert-{{ category }}">
                    <button type="button" class="m1-2 mb-1 close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}

    <!-- start developing this page -->
    <div class="text-center">
        <div class="container">
            <button type="button" class="btn btn-primary" style="margin-top: 5%;">
                <h2>Create New Season</h2>
            </button>
            <br>
            <form method="POST" class="form-register" style="color:white">
                {{ season_form.hidden_tag() }}
                <br>
                <table class="table table-hover table-dark">
                    <tbody>
                        <tr>
                            <td>{{ season_form.batch.label() }}</td>
                            <td>{{ season_form.batch(class="form-control", placeholder="User Name") }}</td>
                            <td>{{ season_form.dept.label() }}</td>
                            <td>{{ season_form.dept(class="form-control", placeholder="User Name") }}</td>
                            <td>{{ season_form.submit(class="btn btn-block btn-outline-success") }}</td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>

    <div class="text-center">
        <div class="container">
            <button type="button" class="btn btn-primary" style="margin-top: 5%;">
                <h2>Manage Seasons</h2>
            </button>
            <br><br>
            <div class="col-12">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Batch</th>
                            <th scope="col">Co-Ordinator</th>
                            <th scope="col">View Students</th>
                            <th scope="col">Edit Batch</th>
                            <th scope="col">Assign Guides</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for season in seasons %}
                            <tr>
                                <td>{{ season.id }}</td>
                                <td>{{ season.batch }}</td>
                                <td>{{ season.coordinator }}</td>
                                <td>
                                    <a href="view_student/{{ season.batch }}" target="_blank">
                                    <button type="button" class="btn btn-md btn-outline-success">
                                        View Students
                                    </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="edit_batch/{{ season.batch }}" target="_blank">
                                    <button type="button" class="btn btn-md btn-outline-success">
                                        Edit Batch
                                    </button>
                                    </a>
                                </td>
                                
                                <td>
                                    <a href="assign_guides/{{ season.batch }}" target="_blank">
                                    <button type="button" class="btn btn-md btn-outline-success">
                                        Assign Guides
                                    </button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>



    <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src='https://kit.fontawesome.com/a076d05399.js'></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
   </body>
   <style>
      body {
      background-color: #212121;
      color: white
      }
   </style>
</body>