<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File Upload</title>
</head>
<body>
    <form method="POST" enctype="multipart/form-data">
        {{ upload_file_form.hidden_tag() }}
        {{ upload_file_form.csrf_token() }}
        <input type="file" name="file" id="file" required>
        <h1>{{ upload_file_form.submit }}</h1>
    </form>

    <table>
        {% for file in files %}
        <tr>
            <td><a href="download/{{ file.name }}" target="_blank"><h1>{{ file.name }}</h1></a></td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>